<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-color: #121212;
        color: #ffffff;
      }
      h1 {
        margin-bottom: 1em;
      }
      form {
        background-color: #1e1e1e;
        padding: 2em;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
      }
      label {
        display: block;
        margin-bottom: 0.75em;
        font-size: 1.2em;
      }
      select {
        width: 100%;
        padding: 0.5em;
        font-size: 1em;
        margin-bottom: 1em;
        border: none;
        border-radius: 5px;
        background-color: #333333;
        color: #ffffff;
      }
      input[type="submit"] {
        padding: 0.75em 1.5em;
        font-size: 1em;
        color: #ffffff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      input[type="submit"]:hover {
        background-color: #0056b3;
      }
      p {
        color: #ff4d4d;
      }
      img{
        height: 38px;
        width: auto;
        margin-bottom: -0.1em;
      }
      @media (max-width: 480px) {
        form {
          width: 80%;
        }
        img{
          height:30px;
          width: auto;
        };
      }
    </style>
    <title>Youtube Scraper</title>
  </head>
  <body>
    <h1><img src="logo.png" alt="Youtube"> Scraper</h1>
    <% if(locals.error){ %>
    <p><%= error %></p>
    <% } %>
    <form action="/" method="post">
      <label for="task">Choose a option: </label>
      <select name="option" id="dropdown">
        <option value="select" disabled selected>Select an option</option>
        <option value="channelInfo">Scrape Channel Info</option>
        <option value="videoInfo">Scrape Video Info</option>
      </select>
      <input type="submit" value="Fetch" />
    </form>
  </body>
</html>
